{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--====================  shop header ====================-->
<div class="breadcrumb-area space-pt--5 space-pb--25">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5">
                <h1 class="page-title">All Collections</h1>
            </div>
            <div class="col-7 text-right">
                <div class="shop-dropdown">
                    <select class="space-mr--20">
                        <option value="0">PRICE</option>
                        <option value="1">High to low</option>
                        <option value="2">Low to high</option>
                    </select>
                    <select>
                        <option value="0">SORT</option>
                        <option value="1">ASC</option>
                        <option value="2">DESC</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of shop header  ====================-->
<!--====================  products area ====================-->
<div class="shop-products-area">
    <!-- shop grid products -->
    <div class="shop-grid-products-wrapper space-mb-m--20">
        <div class="container">
            <h2 class="section-title space-mb--20"> <b>{{product_count}}</b> productos encontrados</h2>
            <div class="row row-10">
                {% for product in products %}
                <div class="col-6">
                    <div class="grid-product space-mb--20">
                        <div class="grid-product__image">
                            <a href="{{ product.get_url }}">
                                <img src="{{product.images.url}}" class="img-fluid" alt="">
                            </a>
                            <button class="icon"><img src="assets/img/icons/heart-orange.svg" class="injectable" alt=""></button>
                        </div>
                        <div class="grid-product__content">
                            <h3 class="title"><a href="{{ product.get_url }}">{{product.product_name}}</a></h3>
                            <div class="price">
                                <span class="discounted-price">Bs{{product.price}}</span>
                                <span class="main-price">Bs 45</span>
                            </div>
                            <!-- shop product button -->
                            <div class="shop-product-button">
                                <button class="cart">Agregar</button>
                                <button class="buy">personalizar</button>
                            </div>
                            <!--====================  End of product content  ====================-->
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
<!--====================  End of products area  ====================-->

</div>


</body>
</html>
{% endblock %}